@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    scroll-behavior: smooth ;
    scrollbar-width: none;
}
body{
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    background: none;
    z-index: 10;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
    background: #fff;

}


nav .logo img{
    height: 6vh;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}
nav ul li{
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    
}

nav a{
    text-decoration: none;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: white;
}

footer {
    margin-top: 40px;
    text-align: center;
}

h1{
    padding-top: 100px;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
}

